@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Jost', sans-serif;
}
.container1{
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0, 0.72);
    border: 1px solid #707070;
    border-bottom: none;
}
nav{
    border-bottom: 1px solid #FFFFFF;
    width: 100%;
    display: flex;
}
.logo{
    width: 11.5%;
    border-right: 1px solid #FFFFFF;
}
.nav-center{
    display: flex;
    width: 69.5%;
    border-right: 1px solid #FFFFFF;
}
.menu{
    width: 55.5%;
    padding: 3.5% 0 0 3.7%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.option_only{
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}
#option_arrow{
    display: flex;
    gap: 0.5rem;
}
.arrowdown{
    background-image: url(./assets/Icon\ ionic-ios-arrow-down.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.1rem;
    margin-top: 0.9rem;
}
.networks{
    width: 44.5%;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    gap:5.8%;
    margin-right: 2.5%;
}
.netw{
    width: 6.7%;
}
.search{
    border-right: 1px solid #FFFFFF;
    width: 6.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-search{
    width: 30%;
}
.contact{
    color: #FFFFFF;
    width: 12.5%;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome{
    color: #FCFCFC;
    font-size: 1.45rem;
    margin-left: 12.5%;
    margin-top: 7%;
    letter-spacing: 0.02rem;
}
.consulting{
    color: #FCFCFC;
    font-size: 6.5rem;
    font-weight: 700;
    margin-left: 11.5%;
    margin-top: 3.2%;
    line-height: 110%;
    letter-spacing: 0.02rem;
}
.discover{
    background: #3C72FC;
    color: #FCFCFC;
    font-size: 1.3rem;
    font-weight: 700;
    width: 13.2%;
    margin-top: 3%;
    margin-left: 11.5%;
    padding: 1.35% 2.2% 1.4% 2.3%;
    letter-spacing: 0.04rem;
}
.container2{
    width: 100%;
    height: 100vh;
    background: #0F0D1D;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.real{
    color: #FFFFFF;
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 1.9%;
    letter-spacing: 0.04rem
}
.best{
    color: #726F84;
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 0.3%;
    letter-spacing: 0.01rem;
}
.boxes{
    height: 34%;
    margin-top: 5.3%;
    display: flex;
    justify-content: center;
    gap: 1.5%;
}
.box{
    background: #000000;
    width: 24.7%;
}
.wealth{
    color: #FFFFFF;
    font-size: 1.7rem;
    font-weight: 600;
    text-align: start;
    margin-top: 16.5%;
    margin-left: 16.5%;
    letter-spacing: 0.01rem;
}
.read-logo{
    display: flex;
    gap: 32.5%;
}
.read{
    color: #8F8DA0;
    font-size: 0.88rem;
    font-weight: 600;
    margin-top: 8.5%;
    margin-left: 16.5%;
    letter-spacing: 0.008rem;
}
.logo-box{
    width: 23.5%;
}
.text-line{
    color: #FFFFFF;
    margin-top: 7.6%;
    font-size: 1.15rem;
    letter-spacing: 0.03rem;
}
.line{
    vertical-align:super;
    width: 33.8%;
    display: inline-block;
    border: 1px solid rgba(50, 48, 61, 0.71);
}
.partners{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.9%;
    gap: 3%;
}
.brand{
    background: #253f8c;
    color: #FFFFFF;
    font-size: 0.92rem;
    width: 8.5%;
    padding: 0.45%;
    letter-spacing: 0.02rem;
}
.pic-arrow{
    background: rgba(77, 123, 242, 0.17);
    border: 1px solid rgba(60, 114, 252, 0.3);
    width: 2.5%;
    height: 135%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow{
    width: 47%;
}